services:
  devui:
    image: cybersec-agent-devui
    container_name: cybersec-agent-devui
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      ENABLE_OTEL: true

    command: ["uv", "run", "devui", "./app", "--host", "0.0.0.0", "--port", "8080"]